<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming soon</title>
    <style>
        body{
            background-color: #14064f;
            color: white;
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
        }
        .firstLine{
            font-size: 5vw;
            font-weight: 700;
        }
        p{
            font-size: 3vw;
        }
    </style>
</head>
<body>
    <div>
        <p class="firstLine">Coming soon!</p>
        <p>Project is in the working state.</p>
    </div>
</body>
</html>